/*general*/

*{
  box-sizing: border-box;
  flex: content;
  margin-left: 2%;
  font-family: Verdana, Tahoma;
}

body {
    background: #f4edd6;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    color: #310a31;
    overflow-x: hidden;
  }

  h1{
    position: absolute;
    
    top: 10%;
    left: 35%;
    color: #847996;
  }
  
  ul{
    list-style: none;
    line-height: 50pt;
    font-size: large;
    }


  .actual-goodlooking-header{
    position: relative;
    background-color: rgba(167, 202, 177, 0.5);
    min-height: 15%;
    width: 120%;
    left: -4%;
    top: -2%;
  }

  .titelus{
    position: relative;
    flex: auto;
    text-align: center;
  } 
  .home{
    max-width: 70%;
    margin-left: 10%;
    text-align: center; 
    flex: auto;
  }

  .homepage-text{
    flex: none;
    text-align: center;
    max-width: 90%;
  }

    /*searchbar*/

    .search-box{
      width: fit-content;
      height: fit-content;
      position: absolute;
      margin-left: 2%;
      margin-top: 1.6%;
    }

  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #88b7b5;
    padding-right: 40px;
    color: #310a31;
  }

  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid #310a31;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

  /*bookmark*/

  .bookmark{
    color: #310a31;
    
    width: 30px;

    position: absolute;
    top: 3%;
    right: 60px;
    margin-left: 80%;
    margin-bottom: 50%;
  }

  .books{
    display: none;
    

  }

  .bookmarked{
    display: none;
    outline-color: invert;
  }

  .delete{
    position: relative;
    width: 30px;
    left: -2%;
  }

  /*search results*/

.listedresults{
    position: relative;
    margin-left: -5%;
  }

.picture{
  position: absolute;
  height: auto;
  max-height: 85%;
  max-width: 40%;
  margin-top: 5%;
  margin-left: 5%;
}

.text{
  position: relative;
  padding-left: 25%;

  line-height: 42pt;

  font-size: 25px;

  overscroll-behavior-block:unset;
}

.usage{
  position: relative;
  text-align: center;
  margin-top: 2%;
  margin-right: 10%;

  line-height: 30pt;

  font-size: 25px;
}

/*heart*/

.heart{
  position: absolute;
  width: 30px;
  top: 98%;
  left: 2%;


}

.heart:focus{
  filter: blur(2px);
  }

  .heart:hover{
    filter:blur(2px);
  }

  .heart:visited{
    filter: blur(2px);
  }

.marked{
  position: absolute;
  top: 95.5%;
  left: 5.5%;
}

.hidden{
  display: none;
}

.button{
  background: transparent;
  height: 50px;
  width: auto;
  border-color: transparent;
  border-style: solid;
  font-size: 20px;
}

.button:hover{
  background: #88b7b5;
  cursor:pointer;
}

.move{
  position: relative;
  left: 86%;
}

.editOverlay{
  padding: 10px 20px;
}

.label-input-pair{
  position: relative;
  font-size: 20px;
  line-height: 25px;
}

.entry{
  background-color: rgba(167, 202, 177, 0.5);
  border-color: transparent;
  width: auto;
  height: auto;
  font-size: 20px;
}